.card{
    width: 190px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
    
    /* Initially, all the card will be stacked one upon the other, to avoid this we will change its display property from block element to inline-block */
    display: inline-block;
    
    margin-left: 16px;
    margin-top: 8px;
}
p{
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}
.card-image{
    width: 190px;
    height: 200px;
    object-fit: cover; /* this will fit the whole image inside the 180px width and 200px height without distorting the image */
}
.card-name{
    font-weight: bold;
    padding-top: 4px;
    padding-left: 10px;
}

/* 10e */
.friends{
    display: inline-block;
    color: rgb(100, 100, 100);
    margin-top: 10px;
}

.card-friends{
    color: #606060;
}

.card-button{
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-radius: 4px;
    cursor: pointer;
    
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    
    transition: background-color 0.2s;
}
.card-button:hover{
    background-color: rgba(29, 156, 240, 0.8);
}

/* 10e: For user profile picture */
.image{
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 4px;
}
.author-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
    
    /* vertical-align: top; */
}