body{
    height: 3000px;
}
div{
    position: fixed;  /* this will keep the div element fixed, even after scrolling */
    bottom: 20px;
    right: 20px;
    
    /* styling the div element */
    background-color: black;
    color: white;
}