p{
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center; */
    
    font-weight: bold;
    font-size: 18px;
    width: 300px; /* to bind the para. text in a fixed width */
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats{
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;
}
.video-author{
    color: #606060;
    font-size: 14px;
    margin-bottom: 20px;
}
.video-description{
    width: 300px;
    color: #606060;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: #e34140;
    color: white;
    text-align: center;
    
    /* Spacing inside the element => padding */
    padding-top: 18px;
    padding-bottom: 18px;
    /* text-decoration: underline; */
}
.span-example{
    color: red;
}
.span-example:hover{
    text-decoration: underline;
}
.shop-link:hover{
    cursor: pointer;
    text-decoration: underline;
}